.div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.form {
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.input {
  margin-top: 0.5vh;
  color: #34495e;
  margin-right: 0.5vw;
}

.button {
  background-color: #2980b9;
  color: #fff;
}