.taskInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2.25rem;
}

.taskContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.completed {
  text-decoration: line-through;
}

.checkbox {
  transform: scale(3);
  transform-origin: left top;
  align-self: start;
  margin-top: 0.3rem;
}

.delete {
  background-color: #e74c3c;
}

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}