.div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.completed {
  text-decoration: line-through;
}

.checkbox {
  transform: scale(2);
  transform-origin: left;
  margin-right: 1rem;
}

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}