*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Inter", "Roboto", sans-serif;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Poppins", "Montserrat", sans-serif;
  line-height: 1.2;
}

input, button {
  font: inherit;
}

button {
  padding: 0.5rem 1rem;
  background-color: #298099;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, span, input, button, label {
  font-size: 1.25rem;
}

a {
  color: #fff;
}